---
  - name: Config webservers with Docker and DVWA
    hosts: webservers
    become: true
    tasks:

    - name: Install Docker.io
      apt:
        update_cache: yes
        name: docker.io
        state: present

    - name: Install python3-pip
      apt:
        name: python3-pip
        state: present

    - name: Use pip to install Python3 Docker container
      pip:
        name: docker
        state: present

    - name: Download and run DVMA container
      docker_container:
        name: dvwa
        image: cyberxsecurity/dvwa
        state: started
        restart_policy: always
        published_ports: 80:80

    - name: Start the Docker service with systemd
      systemd:
        name: docker
        enabled: yes
